:root {
  --netralwhite: rgba(255, 255, 255, 1);
  --dark-black700: rgba(95, 99, 104, 1);
  --dark-black400: rgba(189, 193, 198, 1);
  --dark-black868: rgba(40, 42, 45, 1);
  --dark-black300: rgba(218, 220, 224, 1);
  --netralblack: rgba(1, 4, 9, 1);
  --text-base-reguler-font-family: "Plus Jakarta Sans", Helvetica;
  --text-base-reguler-font-weight: 400;
  --text-base-reguler-font-size: 16px;
  --text-base-reguler-letter-spacing: 0px;
  --text-base-reguler-line-height: 140%;
  --text-base-reguler-font-style: normal;
  --text-base-semibold-font-family: "Plus Jakarta Sans", Helvetica;
  --text-base-semibold-font-weight: 600;
  --text-base-semibold-font-size: 16px;
  --text-base-semibold-letter-spacing: 0px;
  --text-base-semibold-line-height: 140%;
  --text-base-semibold-font-style: normal;
  --text-lg-semibold-font-family: "Plus Jakarta Sans", Helvetica;
  --text-lg-semibold-font-weight: 600;
  --text-lg-semibold-font-size: 18px;
  --text-lg-semibold-letter-spacing: 0px;
  --text-lg-semibold-line-height: 140%;
  --text-lg-semibold-font-style: normal;
}
